@model ArticlesWithPaginationModel
@{
    var x = 0;
    var y = 1;
    //Layout = null;

    // Views/ControllerName/_Layout.cshtml- looking first
    // Views/Shared/_Layout.cshtml - looking after
}

<a href="~/article/create">Create</a>

<div>
    @foreach (var el in Model.ArticlePreviews)
    {
        <div>
            <b>@el.Id</b> - @el.Title
        </div>
        <div>
            <p>@el.ShortDescription</p>
        </div>
        <div>
            @el.SourceName
        </div>
        <hr/>
    }
</div>

<pagination page-info="Model.PageInfo" page-action="Index">
    <p>1123123123123123123</p>
</pagination>


@*@Html.Pagination(0, 10)*@

@*@if (true)
{
    @: Hello world
}
*@
@*
Razor:
-> one row sentence     
    <b>@el.Key</b> - @el.Value
    <p>@(20+10)</p>
    
-> many row sentence
    @{
    
    }
*@